* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0E1624;
}

div {
  border: 1px solid red;
}

.Content {
  width: 100%;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.Separator {
  border: 1px solid #3c3c3c;
  margin: 3rem auto;
  width: 50%;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

@media screen and (min-width: 992px) {
  .d-large {
    display: inline-block;
  }
  .d-mobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .d-large {
    display: none;
  }
  .d-mobile {
    display: inline-block;
  }
}

.btn {
  border: 2px solid;
  border-radius: .25rem;
  display: inline-block;
  width: 200px;
  background-color: transparent;
  margin-right: 8px;
  text-align: center;
  padding: .5rem 0;
}

.btn-blue {
  background-color: #5CCFEE;
  border-color: #5CCFEE;
  color: #0E1624;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-blue:hover {
  background-color: #45b3d1;
  border-color: #45b3d1;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-outline-blue {
  border-color: #5CCFEE;
  color: #5CCFEE;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-outline-blue:hover {
  background-color: #5CCFEE;
  color: #0E1624;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.Presentation-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6rem !important;
  height: 450px;
}

.Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  min-height: 400px;
  min-width: 360px;
  max-width: 50%;
}

.Left .Presentation-Text {
  width: 100%;
  color: white;
}

.Left .Presentation-Text .Small-Intro {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5CCFEE;
  text-transform: uppercase;
}

.Left .Presentation-Text .Main-Text {
  font-size: 4em;
}

.Left .Presentation-Text .Sub-Text {
  margin: 2rem 0;
}

.Left .Presentation-Buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.Right {
  min-height: 400px;
  min-width: 360px;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem !important;
}

.Right .Presentation-Image {
  min-height: 350px;
  max-height: 350px;
  min-width: 350px;
  max-width: 350px;
  background: #fff;
  border-radius: 999px;
  background-size: cover;
}
/*# sourceMappingURL=Presentation.css.map */