@import "../../App.scss";

@mixin LeftRight {
    min-height: 400px;
    min-width: 360px;
    max-width: 50%;
}

.Presentation-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem !important;
    height: 450px;
}

.Left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: left;
    @include LeftRight();
    .Presentation-Text{
        width: 100%;
        color: white;
        .Small-Intro{
            font-size: 1.2rem;
            font-weight: bold;
            color: $accent_light;
            text-transform: uppercase;
        }
        .Main-Text{
            font-size: 4em;
        }
        .Sub-Text{
            margin: 2rem 0;
        }
    }
    .Presentation-Buttons{
        display: flex;
        width: 100%;
    }
}

.Right{
    @include LeftRight();
    display: flex;
    justify-content: flex-end;
    padding: 2rem !important;
    .Presentation-Image{
        min-height: 350px;
        max-height: 350px;
        min-width: 350px;
        max-width: 350px;
        background: #fff;
        border-radius: 999px;
        background-size: cover;
    }
}
