@import "./../../App.scss";

.About-Text {
	color: #fff;
	text-align: justify;
	@media screen and (min-width: 720px) {
		max-width: 60%;
		}
		@media screen and (max-width: 720px) {
		max-width: 100%;
		}
	i {
		font-weight: bold;
	}
}
