@import "../../App.scss";

.Navbar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: .3rem 1rem;
    position: fixed;
    background-color: $background_secondary;
    border-bottom: 1px solid grey;
    a{
        font-size: .9em;
    }
}

.Logo-Container{
    display: flex;
    justify-content: flex-start;
    .Logo{
        font-size: 1.2rem;
        font-weight: bold;
        color: $accent_light;
        &:hover{
            cursor: pointer;
        }
    }
}

.Mobile-Nav-Toggle{
    font-size: 2rem;
    text-align: end;
    a{
        border-radius: .25rem;
        display: flex;
        color: rgb(200, 200, 200);
        width: fit-content;
        float: right;
        padding: 4px;
    }
}

.Mobile-Nav-Menu-Closed{
    height: 0px;
    opacity: 0;
    transition: height 0.2s ease-out;
    overflow: hidden;
}

.Mobile-Nav-Menu{
    background-color: $background_secondary;
    position: fixed;
    top: 44px;
    width: 100%;
    padding: .5rem;
    text-align: left;
    opacity: 1;
    transition: all 0.2s ease-out;
    overflow: hidden;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        padding: 0 16px;
        li{
            list-style-type: none;
            width: 100%;
            height: 2rem;
            margin: 8px 0;
            border-bottom: 1px solid rgb(60, 60, 60);    
            a{
                color: #fff;
            }
            &:last-child{
                border: 0 !important;
                margin-bottom: 0 !important;
            }
        }
    }
}

.btn-contact{
    border-radius: 100px !important;
}  

.Desktop-Nav{
    padding: 0 !important;
    ul{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
    }
    a{
        color: #fff;
    }
    li{
        list-style-type: none;
        padding: 0px 8px;
    }
}

.Active{
    color: $accent_light !important;
    font-weight: bold;
    border-bottom: $accent_light solid 2px;
}
