* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0E1624;
}

div {
  border: 1px solid red;
}

.Content {
  width: 100%;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.Separator {
  border: 1px solid #3c3c3c;
  margin: 3rem auto;
  width: 50%;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

@media screen and (min-width: 992px) {
  .d-large {
    display: inline-block;
  }
  .d-mobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .d-large {
    display: none;
  }
  .d-mobile {
    display: inline-block;
  }
}

.btn {
  border: 2px solid;
  border-radius: .25rem;
  display: inline-block;
  width: 200px;
  background-color: transparent;
  margin-right: 8px;
  text-align: center;
  padding: .5rem 0;
}

.btn-blue {
  background-color: #5CCFEE;
  border-color: #5CCFEE;
  color: #0E1624;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-blue:hover {
  background-color: #45b3d1;
  border-color: #45b3d1;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-outline-blue {
  border-color: #5CCFEE;
  color: #5CCFEE;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.btn-outline-blue:hover {
  background-color: #5CCFEE;
  color: #0E1624;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem;
  position: fixed;
  background-color: #0E1624;
}

.Navbar a {
  font-size: .9em;
}

.Logo-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Logo-Container .Logo {
  width: auto;
  max-height: 2rem;
  min-height: 2rem;
}

.Mobile-Nav-Toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
}

.Mobile-Nav-Toggle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
}

.Mobile-Nav-Menu-Closed {
  height: 0px;
  opacity: 0;
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
  overflow: hidden;
}

.Mobile-Nav-Menu {
  background-color: #18253a;
  position: relative;
  top: 64px;
  width: 100%;
  padding: .5rem;
  text-align: left;
  height: 200px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  overflow: hidden;
}

.Mobile-Nav-Menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.Mobile-Nav-Menu ul li {
  list-style-type: none;
  width: 100%;
  height: 2rem;
}

.Mobile-Nav-Menu ul li a {
  color: #fff;
}

.Desktop-Nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Desktop-Nav a {
  color: #fff;
}

.Desktop-Nav li {
  list-style-type: none;
  padding: 0px 8px;
}

.Active {
  color: #5CCFEE !important;
  font-weight: bold;
  border-bottom: #5CCFEE solid 2px;
}
/*# sourceMappingURL=Navbar.css.map */