footer{
    color: #fff;
    background-color: #0b1320;
    width: 100%;
    height: 100px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .row{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.first{
    width: 33.33%;
    display: flex;
    justify-content: start;
}

.first img{
    width: 150px;
    height: auto;
}

.middle{
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.last{
    width: 33.33%;
    display: flex;
    justify-content: end;
}

.Social-Block {
    width: 49px;
    height: 49px;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(50,50,50);
    margin: 5px;
}

.Social-Block::before{
    content: "";
    background-image: conic-gradient(
        #4F2085 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

.Inner{
    width: 45px;
    height: 45px;
    background: #0b1320;
    color: #fff;
    font-size: larger;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}