@import "../../App.scss";

footer {
	color: #fff;
	background-color: $background_secondary;
	width: 100%;
	.row {
		width: 100%;
		padding: 0rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
        img{
            width: 150px;
        }
		.First, .Middle, .Last{
			padding: 0px;
		}
	}
}

.Social-Block {
	width: 49px;
	height: 49px;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: rgb(27, 27, 27);
	margin: 5px;
	border-radius: 100%;
}

.Social-Block::before {
	content: "";
	background-image: conic-gradient($accent_light 20deg, transparent 120deg);
	width: 150%;
	height: 150%;
	position: absolute;
	animation: rotate 2s linear infinite;
	border-radius: 100%;
}

.Inner {
	width: 45px;
	height: 45px;
	background: $background_secondary;
	color: #fff;
	font-size: larger;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@media screen and (max-width: 832px) {
	.First, .Middle, .Last {
		min-width: 100%;
		padding: 1rem !important;
	}
}
