$background: #22272E;
$background_secondary: #2D333B;
$accent_light: #5CCFEE;
$accent_dark: #3b6dca;  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
}

:target:not(:first-child) {
  display: block;
  position: relative;
  top: -60px; 
  visibility: hidden;
}

body{
  background: $background;
}

.Section-Marker{
  visibility: hidden !important;
  display: block;
  height: 1px;
  width: 1px;
  position: relative;
  top: -1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  &:first-child{
    position: absolute;
  }
}

.Content{
  width: 100%;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.Separator{
  border: 1px solid rgb(60, 60, 60);
  margin: 3rem auto;
  width: 50%;
}

.m-0{
  margin: 0 !important;
}

.p-0{ padding: 0 !important; }
.p-1{ padding: 2px; }
.p-2{ padding: 4px;}
.p-3{ padding: 8px;}
.p-4{ padding: 12px;}
.p-5{ padding: 16px;}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.d-none{
  display: none !important;
}

.d-block{
  display: block !important;
}

@media screen and (min-width: 992px) {
  .d-large{
    display: inline-block !important;
  }
}

@media screen and (min-width: 720px) {
  .d-medium{
    display: inline-block !important;
  }
}

@media screen and (max-width: 719px) {
  .d-mobile{
    display: inline-block !important;
  }
  .col-sm{
    min-width: 100%;
    padding: 16px;
  }
}

.btn{
  border: 2px solid;
  border-radius: .25rem;
  display: inline-block;
  width: 200px;
  background-color: transparent;
  margin-right: 8px;
  text-align: center;
  padding: .5rem 0;
}

.btn-blue{
  background-color: $accent_light;
  border-color: $accent_light;
  color: $background;
  transition: ease .2s;
  &:hover{
    background-color: #45b3d1;
    border-color: #45b3d1;
    transition: ease .2s;
  }
}

.btn-outline-blue{
  border-color: $accent_light;
  color: $accent_light;
  transition: ease .2s;
  &:hover{
    background-color: $accent_light;
    color: $background;
    transition: ease .2s;
  }
}

.Title{
  color: #fff;
  font-size: 2rem;
  display: block;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}